# Build and output directories
/bin/
bin/
build/
output/
Reports/
.gradle/

# Katalon-specific
/Libs/
Libs

# Project settings
.settings/
.classpath
.project

# Ignore everything in output except .gitkeep
!output/.gitkeep

# Version control leftovers
.svn/
.cache/
